body{
	padding:0;
	margin:0;
	color:#262626;
	text-align:left;
	font-size:14px;
	font-family:Microsoft Yahei,Arial,Helvetica,LiHei Pro Medium;
	background:#F5F5F5;
}
img{
	border:0px;
}
ul,li{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#4646d3;
}
a:hover{
	color:#ff6f3d;
}
.show{
	display:block;
}
.hide{
	display:none;
}
.clear{
	clear:both;
}
.bold{
	font-weight:bold;
}





.he{
	background:#DD2727;
	background:linear-gradient(to bottom, #DD2727, #C60A0A) repeat scroll 0 0;
	border-bottom:1px solid #C40000;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
	margin:0 0 5px;
	line-height:40px;
	padding:0 20px;
}
.he h1{
	margin:0;
	display:inline-block;
	float:left;
}
.he a{
	color:#F2F4F5;
	font-size:16px;
	display:inline-block;
}


.notice{
	text-align:center;
	background:white;
	margin:5px 0;
}


.top{
	margin:auto auto 5px;
	background:white;
}
.top h2{
	margin:0;
	font-weight:normal;
	font-size:14px;
}
.top li{
	display:inline-block;
	float:left;
	width:33.3%;
	text-align:center;
}
.top li a{
	display:block;
	padding:8px;
}
.top li a span{
	padding:5px 10px;
	color:white;
	border-radius:5px;
}






.content{
	padding-top:5px;
	margin:auto;
}
.content li{
	width:100%;
	float:left;
	margin-bottom:12px;
}
@media screen and (min-width:320px){
	.content li{
		width:50%;
	}
}

@media screen and (min-width:480px){
	.content li{
		width:33.3%;
	}
}
@media screen and (min-width:640px){
	.content li{
		width:25%;
	}
}
@media screen and (min-width:960px){
	.content{
		width:960px;
	}
}
.content li div.item{
	height:220px;
	width:160px;
	overflow:hidden;
	position:relative;
	margin:auto;
	background:white;
}
.content div.img{
	margin-top:5px;
}
.content li div img{
	display:block;
	margin:auto;
}
.content .item h3{
	font-weight:normal;
	font-size:14px;
	margin:0;
}
.content .item .title{
	position:absolute;
	bottom:20px;
	color:#333;
	padding:0 5px;
}
.price del{
	color:#999;
	font-weight:normal;
}
.content .item .price{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	text-align:center;
	color:#DD2727;
	font-weight:bold;
}
.content .item .price span{
	font-size:12px;
}




.fl{
	float:left;
}
.fr{
	float:right;
}

.tbg1{
	background:#F9AE0F;
}
.tbg4{
	background:#FA6D22;
}
.tbg2{
	background:#FC2E9D;
}
.tbg5{
	background:#18C5C0;
}
.tbg3{
	background:#8855FB;
}
.tbg6{
	background:#F9331D;
}



.tbg7{
	background:#F62E63;
}
.tbg8{
	background:#FDAE48;
}
.tbg9{
	background:#3ABAF8;
}
.tbg10{
	background:#FD7D23;
}




.page{
	text-align:center;
	line-height:30px;
	margin:40px 0px;
	font-family:Microsoft Yahei;
}
.page a{
	padding:0 5px;
	display:inline-block;
	text-decoration:none;
	border:1px solid #eee;
	color:#666;
	margin-left:-1px;
}
.page a:hover{
	color:#fd703d;
}
.page a.current{
	color:#fd703d;
	text-decoration:none;
}
.page a.gray{
	color:#ccc;
	text-decoration:none;
}
.page .leftradius{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.page .rightradius{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}


.ditem{
	background:#FFF;
}
.ditem img{
	margin:auto;
	display:block;
	max-width:80%;
	height:auto;
}
.ditem .album img{
	margin:0 auto 5px;
}
.ditem .price{
	color:#DD2727;
	font-weight:bold;
	text-align:center;
}
.ditem .title{
	text-align:center;
}
.ditem .intro{
	padding:0 20px;
	text-indent:2em;
}





.foot{
	text-align:center;
	border-top:1px solid #E8E9EB;
	margin:30px 0 0;
	padding:10px 0;
	color:#ccc;
	font-size:12px;
	background:white;
}
.foot a{
	color:#ccc;
	text-decoration:underline;
}
